{% extends 'base.html' %}
{% block content %}
<div class="column is-4 is-offset-4">
    <div id="login-box" class="form_box_30" style="margin-top: 30px;">
        <div class="profile_form_background">
            <h2 class="form_header">Login</h2>
            <form method="POST" action="{{ url_for('profile.login_post') }}">
                {{ csrf_token() }}
                <div class="mb-3">
                    <label class="form-label" autofocus="">Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="mb-3">
                    <label class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="remember" name="remember">
                    <label class="form-check-label" for="remember">Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
