{% extends 'base.html' %}

{% block content %}
<div class="form_box_30 background_1">
    {% if get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
        get_flashed_messages()
    </div>
    {% endif %}
    <div class="profile_form_background">
        <h3 class="form_header">Password Reset</h3>
        <form method="POST" action="{{ url_for('profile.password_reset_process') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="mb-3">
                <label class="form-label" for="password-1" autofocus="">Enter your new password</label>
                <input type="text" id="password-1" class="form-control" name="password-1" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password-2" autofocus="">Re-enter your new password</label>
                <input type="text" id="password-2" class="form-control" name="password-2" required>
            </div>
            <button type="submit" class="btn btn-primary">Update Password</button>
        </form>
    </div>
</div>
{% endblock %}
