{% extends 'base.html' %}

{% block content %}
<div class="form_box_30 background_1">
    {% if get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
        get_flashed_messages()
    </div>
    {% endif %}
    <div class="profile_form_background">
        <h3 class="form_header">Password Reset</h3>
        <form method="POST" action="{{ url_for('profile.check_password_reset_1') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="mb-3">
                <label class="form-label" for="username" autofocus="">Username</label>
                <input type="text" id="username" class="form-control" name="username" required>
                <small id="username-feedback" class="form-text"></small>
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Email address</label>
                <input type="email" id="email" class="form-control" name="email" required>
                <small id="email-feedback" class="form-text"></small>
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}
