{% extends 'base.html' %}

{% block content %}
    <div class="form_box_30 background_1">
        <h3 style="margin-top:30px">Sign Up</h3>
        <form method="POST" action="{{ url_for('profile.signup_post') }}">
            <div class="mb-3">
                <label class="form-label" autofocus="">Username</label>
                <input type="username" class="form-control" name="username">
            </div>
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="remember" name="remember">
                <label class="form-check-label" for="remember">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
            </form>
    </div>

{% endblock %}