.navigation img {
    height: 70px;
    margin-left: 35px;
}

.navigation .navbar ul li {
    list-style-type: none;
    display: inherit;
    flex-direction: row;
    padding: 5px 0;
    color: #EBC815;
}

.nav_list_item:hover {
    background-color: black;
}

.navigation .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height:70px;
    width:100%;
}

.navigation .navbar ul {
    display: flex;
    justify-content: space-evenly;
    width:100%;
    font-style: ;
}

.navigation {
    display: flex;
    background-color: #AEEB15;
}
