@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/** FOOTER CSS */

.footer {
    text-align: center;
    background-color: #222222;
    color: #FBE9D0;
    margin-top: 40px;
    padding: 20px 0;
    align-items: center;
}

.footer_row {
    display: flex;
    justify-content: space-evenly; 
    width: 100%;
}

.footer > .footer_column {
    flex-grow: 1;
    padding: 1%;
    text-align: center;
}

.copyright {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

/* MAIN CONTENT CSS */
.main_content {
    min-height:100vh; 
    display:flex; 
    flex-direction:column; 
    justify-content:space-between;
}

.content {
    flex: 1; /* Allows content to expand */
}

.wrapper {
    flex: 1; 
}

/* 
    Remove default padding which occurs around the nav bar on some browsers such as Edge and setup default font. 
    This should be changed where required on inherited elements 
*/
body {
    margin: 0;
    padding: 0;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 100;
}

/* 
    Button Css
*/

.button_1 {
    background-color: #244855; 
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button_1:hover {
    background-color: #90AEAD;
}

/**
Form styling options
*/

.form_box_30 {
    position: relative;
    width: 100%; 
    max-width: 400px; /* Maximum width for larger screens */
    margin: auto;
    vertical-align: middle;
    padding: 15px; /* Add some padding */
}

@media (max-width: 600px) {
    .form_box_30 {
        width: 90%; /* Adjust width for smaller screens */
    }
}


.background_1 {
    border-radius: 25px;
    background: #90AEAD;
    padding: 50px;
    color: #FBE9D0; 
    background-image: linear-gradient(to bottom right, #4169e1, #89CFF0);
}

.form-check-input:checked {
    color: #FBE9D0; 
    background: #FBE9D0;
}

/* HEX codes for colours used through out website don't delete */

/* Colour pallete taken from https://visme.co/blog/website-color-schemes/
244855 Dark Blue
E64833 Red
874F41 Brown
90AEAD Light Blue
FBE9D0 Cream
*/