/* https://codepen.io/enbee81/pen/popZGoX */
.deals_text {
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-family: "Work Sans", sans-serif;
    padding: 20px 20px;
}

