{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Edit Booking</h2>
    <form id="editBookingForm" class="row g-3" action="{{ url_for('admin.update_booking', id=listing.id) }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="col-md-6">
            <label for="departLocation" class="form-label">Departure Location:</label>
            <select class="form-select select2-multiple" id="departLocation" name="departLocation" required>
                <option value="" disabled selected>Select locations</option>
                {% for location in locations %}
                    <option value="{{ location }}" {% if location == listing.depart_location %}selected{% endif %}>{{ location }}</option>
                {% endfor %}
            </select>
            <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#addLocationModal">Add New Location</button>
        </div>
        <div class="col-md-6">
            <label for="destinationLocation" class="form-label">Destination Location:</label>
            <select class="form-select select2-multiple" id="destinationLocation" name="destinationLocation" required>
                <option value="" disabled selected>Select locations</option>
                {% for location in locations %}
                    <option value="{{ location }}" {% if location == listing.destination_location %}selected{% endif %}>{{ location }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="departTime" class="form-label">Departure Time:</label>
            <select class="form-control select2-dropdown" id="departTime" name="departTime" required>
                <option value="" disabled>Select a time</option>
                {% for time in time_options %}
                    <option value="{{ time }}" {% if time == depart_time_str %}selected{% endif %}>{{ time }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="destinationTime" class="form-label">Arrival Time:</label>
            <select class="form-control select2-dropdown" id="destinationTime" name="destinationTime" required>
                <option value="" disabled>Select a time</option>
                {% for time in time_options %}
                    <option value="{{ time }}" {% if time == destination_time_str %}selected{% endif %}>{{ time }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="fairCost" class="form-label">Fair Cost:</label>
            <input type="number" step="0.01" class="form-control" id="fairCost" name="fairCost" value="{{ listing.fair_cost }}" required>
        </div>
        <div class="col-md-6">
            <label for="transportType" class="form-label">Transport Type:</label>
            <select id="transportType" class="form-select" name="transportType" value="Airplane" disabled>
                <option value="Airplane">Airplane</option>
            </select>
        </div>
        <div class="col-md-12">
            <label for="images" class="form-label">Upload Images:</label>
            <input type="file" class="form-control" id="images" name="images" multiple>
            <div class="current-images mt-3">
                <h4>Current Images:</h4>
                <div class="row">
                    {% for image in listing.listing_images %}
                    <div class="col-md-3 mb-3">
                        <div class="card">
                            <div class="image-container">
                                <img src="{{ url_for('main.upload_file', filename=image.image_location) }}" class="img-thumbnail">
                            </div>
                            <div class="card-body">
                                <input type="radio" class="btn-check" name="main_image" id="{{image.id}}" value="{{ image.id }}" autocomplete="off" {% if image.main_image == 1 %}checked{% endif %}>
                                <label class="btn btn-outline-success w-100" for="{{image.id}}">Main Image</label>

                                <button type="button" class="btn btn-danger btn-sm mt-2 delete-image-btn w-100" data-image-id="{{ image.id }}">Delete</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Update Booking</button>
        </div>
    </form>
</div>

<!-- Add New Location Modal -->
<div class="modal fade" id="addLocationModal" tabindex="-1" aria-labelledby="addLocationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="addLocationModalLabel">Add New Location</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addLocationForm">
                    <div class="mb-3">
                        <label for="newLocation" class="form-label">Location Name:</label>
                        <input type="text" class="form-control" id="newLocation" name="newLocation" required>
                    </div>
                    <button type="button" class="btn btn-primary" id="saveLocationBtn">Save Location</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Add Location Success -->
<div class="modal fade" id="location_success" tabindex="-1" aria-labelledby="location_successLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="location_successLabel">Success</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Location added successfully.</p>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Location error modal does not use js alert or confirm anymore -->
<div class="modal fade" id="location_error_modal" tabindex="-1" aria-labelledby="location_error_modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="location_error_modalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Location already exists</p>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('.select2-dropdown').select2({
        width: '100%',
        minimumResultsForSearch: Infinity
    });

    const time_options = [
        "00:00", "00:30", "01:00", "01:30", "02:00", "02:30", "03:00", "03:30", "04:00", "04:30",
        "05:00", "05:30", "06:00", "06:30", "07:00", "07:30", "08:00", "08:30", "09:00", "09:30",
        "10:00", "10:30", "11:00", "11:30", "12:00", "12:30", "13:00", "13:30", "14:00", "14:30",
        "15:00", "15:30", "16:00", "16:30", "17:00", "17:30", "18:00", "18:30", "19:00", "19:30",
        "20:00", "20:30", "21:00", "21:30", "22:00", "22:30", "23:00", "23:30"
    ];

    // Add time_options to filter elements
    time_options.forEach(time => {
        $('#departTime').append(new Option(time, time));
        $('#destinationTime').append(new Option(time, time));
    });

    // Add New location to dropdowns (will clear upon reload OR if not exist in db) 
    const updateDropdowns = (newLocations, dropdown) => {
        newLocations.forEach(location => {
            $(dropdown).append(new Option(location, location));
        });
    };

    // JavaScript to handle adding new locations
    let locations = JSON.parse('{{ locations|tojson|safe }}');

    $('#saveLocationBtn').on('click', function() {
        const newLocation = $('#newLocation').val().trim();
        if (newLocation && !locations.includes(newLocation)) {
            locations.push(newLocation);
            updateDropdowns([newLocation], '#departLocation');
            updateDropdowns([newLocation], '#destinationLocation');
            $('#location_success').modal('show');
            $('#addLocationModal').modal('hide');
            $('#newLocation').val('');
        } else {
            $('#location_error_modal').modal('show');
        }
    });

    document.querySelectorAll('.delete-image-btn').forEach(button => {
        button.addEventListener('click', function () {
            const imageId = this.getAttribute('data-image-id');
            if (!imageId) {
                logMessage('Image ID not found when trying to delete image', 'error');
                return;
            }

            if (!confirm('Are you sure you want to delete this image?')) {
                return;
            }

            const image_container = this.closest('.col-md-3');
            const delete_url = `{{ url_for('admin.delete_image', image_id=0) }}`.replace('0', imageId);

            fetch(delete_url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token() }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    image_container.remove();
                    const username = "{{ current_user.username }}";
                    logMessage(`User ${username} has deleted Image ID: ${imageId}`, 'app');

                    // Auto-select the first image as the new main image if the deleted one was the main image
                    if (data.image_id) {
                        const first_image = document.querySelector('input[name="main_image"]');
                        if (first_image) {
                            first_image.checked = true;
                            logMessage('Selected new main image:', first_image.id, 'debug');
                        }
                    }
                } else {
                    logMessage(`Failed to delete image: ${data.error}`, 'error');
                }
            })
            .catch(error => logMessage('Error: ' + error, 'error'));
        });
    });

    function logMessage(log_message, type) {
        fetch('{{ url_for("main.log_message") }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token() }}'
            },
            body: JSON.stringify({ log_message: log_message, type: type })
        });
    }



</script>
<style>
    .image-container {
        position: relative;
        width: 100%;
        padding-top: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-container img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translate(-50%, -50%);
    }
</style>
{% endblock %}
