{% extends 'base.html' %}
# Implements CSS Slider from https://swiffyslider.com/docs/
{% block content %}
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='listings.css')}}"> -->
        <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
        <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
    </head>
    <div class="content">
        <p>Create full listings page here with search functionality</p>
    </div>
{% endblock %}