{% extends 'base.html' %}
{% block content %}
<div class="container my-4">
    <div class="d-flex justify-content-between mb-3">
        <h2>Manage Bookings</h2>
    </div>
    
    <div class="table-container">
        <table id="manage_bookings" class="table table-striped table-bordered display hover" style="width:100%">
            <thead>
                <tr>
                    <th>Booking ID</th>
                    <th>User Name</th>
                    <th>Booking Date</th>
                    <th>Departure Date</th>
                    <th>Departure Location</th>
                    <th>Destination Location</th>
                    <th>Cancelled</th>
                    <th>View Booking</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <td>{{ booking.Bookings.id }}</td>
                    <td>{{ booking.username }}</td>
                    <td>{{ booking.Bookings.booking_date.strftime("%a, %d %b %Y") }}</td>
                    <td>{{ booking.Bookings.depart_date.strftime("%a, %d %b %Y") }}</td>
                    <td>{{ booking.Bookings.listing.depart_location }}</td>
                    <td>{{ booking.Bookings.listing.destination_location }}</td>
                    <td>{{ 'Yes' if booking.Bookings.cancelled else 'No' }}</td>
                    <td class="dt-center">
                        <a class="btn btn-secondary view-booking-btn" href="manage_bookings/view/{{ booking.Bookings.id }}">View Booking</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<style>
    .table-container {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }

    @media (max-width: 800px) {
        .table-container {
            padding: 0 10px;
        }
    }

    .dataTables_wrapper {
        width: 100%;
    }

    table.dataTable.no-footer {
        margin-bottom: 30px;
    }
</style>
<script>
    $(document).ready(function() {
        $('.select2-multiple').select2({
            placeholder: "Select locations",
            width: '100%'
        });

        $('.select2-dropdown').select2({
            placeholder: "Select a date",
            width: '100%',
            minimumResultsForSearch: Infinity
        });

        const locations = JSON.parse('{{ locations|tojson|safe }}');
        locations.forEach(location => {
            $('#depart_location').append(new Option(location, location));
            $('#destination_location').append(new Option(location, location));
        });

        // Load table
        const table = $('#manage_bookings').DataTable({
            pageLength: 10,
            lengthChange: false,
            columns: [
                { data: 'id', visible: false }, // Hidden id column
                { data: 'username' },
                { data: 'booking_date' },
                { data: 'depart_date' },
                { data: 'depart_location' },
                { data: 'destination_location' },
                { data: 'cancelled' },
                {
                    data: null,
                    className: "dt-center",
                    defaultContent: `
                        <a class="btn btn-secondary view-booking-btn" href="#">View Booking</a>
                    `
                }
            ],
            language: {
                emptyTable: "No bookings could be found."
            },
            createdRow: function(row, data, dataIndex) {
                $(row).find('.view-booking-btn').attr('href', `manage_bookings/view/${data.id}`);
            }
        });
    });
</script>
{% endblock %}
