{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div id="discountBanner" class="alert alert-success" role="alert" style="display: {% if discount > 0 %}block{% else %}none{% endif %};">
        Special Offer! Get <span id="discountPercent">{{ discount }}</span>% off on your booking as you are booking <span id="daysAway">{{ days_away }}</span> days away!
    </div>
    <div class="date-container">
        <div class="col-md-6 text-start mb-3 d-flex align-items-center flex-md-nowrap flex-wrap">
            <label class="form-label me-2">Departure Date:</label>
            <div class="col-md-6">
                <input type="date" class="form-control" id="departDate" name="departDate" required value="{{ selected_date or today }}">
            </div>
            <div class="col-md-6 text-start mb-3 d-flex align-items-center flex-md-nowrap flex-wrap">
                <label class="form-label me-2">Seat Type:</label>
                <div class="col-md-6">
                    <select class="form-select" id="seatType" name="seatType">
                        <option value="economy">Economy</option>
                        <option value="business">Business</option>
                    </select>
                </div>
            </div>
            <button type="button" class="btn btn-warning ms-2" id="resetDate">
                <i class="fa-solid fa-rotate-right"></i> Reset Date
            </button>
        </div>
        <div class="col-md-6 text-start mb-3 d-flex align-items-center flex-md-nowrap flex-wrap">
            <label class="form-label me-2">Number of Seats:</label>
            <div class="col-md-6">
                <select class="form-select" id="numSeats" name="numSeats">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
    </div>
    <h2 class="mb-4" style="text-align: center; margin-top: 40px;">Booking Details</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Departure Information</h2>
                    <p><strong>Location:</strong> {{ listing.depart_location }}</p>
                    <p><strong>Time:</strong> {{ listing.depart_time }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Destination Information</h2>
                    <p><strong>Location:</strong> {{ listing.destination_location }}</p>
                    <p><strong>Time:</strong> {{ listing.destination_time }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Transport Information</h2>
            <p><strong>Transport Type:</strong> {{ listing.transport_type }}</p>
            <p><strong>Price:</strong> £<span id="originalPrice">{{ listing.economy_fair_cost }}</span></p>
            <p id="discountedPrice" style="display: none;">
                <strong>Discounted Price:</strong> £<span id="discountedPriceValue"></span>
            </p>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Total Cost</h2>
            <p><strong>Cost Per Person:</strong> {{ listing.transport_type }}</p>
            <p><strong>Total Cost:</strong> £<span id="totalCost">{{ listing.fair_cost }}</span></p>
            <p><strong>Total Saved:</strong> £<span id="totalSaved">0.00</span></p>

        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-secondary btn-lg" id="bookButton" {% if not current_user.is_authenticated %}disabled{% endif %}>
            Book Now
        </button>
        {% if not current_user.is_authenticated %}
            <div class="alert alert-warning mt-3" role="alert">
                You must have an account in order to book.
                <div class="mt-2">
                    <a href="{{ url_for('profile.login', callback=request.path) }}" class="btn btn-primary me-2">Login</a>
                    <a href="{{ url_for('profile.signup', callback=request.path) }}" class="btn btn-warning">Sign Up</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
<script>
$(document).ready(function () {
    const filterDataDepartDate = "{{ selected_date if selected_date else '' }}";
    const resetDateButton = document.getElementById('resetDate');
    const today = new Date().toISOString().split('T')[0];
    const departDateInput = document.getElementById('departDate');
    const numSeatsInput = document.getElementById('numSeats');
    const seatTypeInput = document.getElementById('seatType'); // Add this line

    if (!filterDataDepartDate) {
        departDateInput.value = today;
    } else {
        departDateInput.value = filterDataDepartDate;
    }

    departDateInput.setAttribute('min', today);

    let maxDate = new Date();
    maxDate.setDate(maxDate.getDate() + 90);
    departDateInput.setAttribute('max', maxDate.toISOString().split('T')[0]);

    // Reset date to today when the reset button is clicked
    resetDateButton.addEventListener('click', () => {
        departDateInput.value = today;
        departDateInput.dispatchEvent(new Event('change'));
    });

    // Prevent any dates being changed by the user manually typing
    departDateInput.addEventListener('keydown', (event) => {
        event.preventDefault();
    });

    // Send the updated date, number of seats, and seat type to the server to check for discounts and calculate total cost
    function updateData() {
        const newDate = departDateInput.value;
        const numSeats = numSeatsInput.value;
        const seatType = seatTypeInput.value; // Add this line

        $.ajax({
            url: "{{ url_for('bookings.listing_apply_update') }}",
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ date: newDate, seats: numSeats, seatType: seatType }), // Update this line
            success: function (data) {
                const discountBanner = document.getElementById('discountBanner');
                const originalPrice = document.getElementById('originalPrice');
                const discountedPrice = document.getElementById('discountedPrice');
                const discountedPriceValue = document.getElementById('discountedPriceValue');
                const discountPercent = document.getElementById('discountPercent');
                const daysAway = document.getElementById('daysAway');
                const totalCost = document.getElementById('totalCost');
                const totalSaved = document.getElementById('totalSaved');
                const originalPriceValue = parseFloat(originalPrice.textContent.replace('£', ''));

                let discountValue = originalPriceValue;
                let finalPrice = originalPriceValue;

                // Calculate the cost based on the seat type
                if (seatType === "business") {
                    discountValue = originalPriceValue * 2;
                }

                if (data.discount) {
                    discountValue = discountValue * (1 - data.discount / 100);
                    originalPrice.style.textDecoration = 'line-through';
                    discountedPriceValue.textContent = `${discountValue.toFixed(2)}`;
                    discountedPrice.style.display = 'block';
                    discountBanner.style.display = 'block';
                    discountPercent.textContent = data.discount;
                    daysAway.textContent = data.days_away;
                } else {
                    originalPrice.style.textDecoration = 'none';
                    discountedPrice.style.display = 'none';
                    discountBanner.style.display = 'none';
                }

                // Update total cost div
                finalPrice = discountValue * numSeats;
                totalCost.textContent = `${finalPrice.toFixed(2)}`;
                totalSaved.textContent = `${(originalPriceValue * numSeats - finalPrice).toFixed(2)}`;
            },
            error: function () {
                alert('Error applying discount. Please try again.');
            }
        });
    }

    departDateInput.addEventListener('change', updateData);
    numSeatsInput.addEventListener('change', updateData);
    seatTypeInput.addEventListener('change', updateData); // Add this line

    // Trigger the change event to apply the initial discount if a date is selected
    if (filterDataDepartDate) {
        updateData();
    }

    // Handle "Book Now" button click
    bookButton.addEventListener('click', () => {
        const departDate = departDateInput.value;
        const numSeats = numSeatsInput.value;
        const seatType = seatTypeInput.value; // Add this line
        const listingId = "{{listing.id}}";

        window.location.href = `{{ url_for('bookings.payment') }}?date=${departDate}&seats=${numSeats}&listing_id=${listingId}`;
    });
});

</script>
{% endblock %}
